{:deps {:aliases [:dev]}
 :builds {:app
          {:target :browser
           :output-dir "resources/public/js"
           :asset-path "js"
           :compiler-options {:infer-externs :auto
                              :output-feature-set :es-next}
           :devtools {:http-root "resources/public"
                      :http-port 8021}
           :modules {:main {:entries [attr-query.scratchpad]}}}}}
